<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to('Wikinimous', articles_path) %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-item navbar-wagon-link hidden-xs hidden-sm">
    <%= link_to('New Article', new_article_path) %>
  </div>
</div>